* {
    font-family: "Inter", sans-serif;
    margin: 0;
}

body {
    background: #F3F5FC;
}

.general {
    display: flex;
}

/* Estilos Sección 1 (Izquierda) */

.seccion1 {
    width: 69.44%;
}

.logo {
    margin: 3.91% 0 0 2.78%;
}

.caja-input {
    margin: 7.81% 0 0 24%;
    /* display: flex-box; */
}

.ingresa-texto {
    width: 68%;
    height: 43vh;
}

.ingresa-texto textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    resize: none;
    border: 0;
    background: #F3F5FC;
    color: #0A3871;
    font-size: 22px;
}

.ingresa-texto textarea::placeholder {
    color: #0A3871;
    font-size: 22px;
}

.caja-alert {
    display: flex;
    align-items: end;
    margin: 0 0 1.56% 0;
}

.alert {
    margin: 0 0 0 0.8%;
    font-size: 12px;
    color: #495057;
}

.botones {
    width: 68%;
    height: 4em;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-between;
}

.encriptar , .desencriptar {
    width: 48.24%;
    height: 100%;
    border-style: solid;
    border-radius: 24px;
    border-color: #0A3871;
    font-size: 18px;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;
}

.encriptar {
    background: #0A3871;
    color: white;
}

.encriptar:hover {
    font-size: 19px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5)
}

.desencriptar {
    background: white;
    color: #0A3871;
}

.desencriptar:hover {
    font-size: 19px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5)
}

/* Estilos Sección 2 (Derecha) */

.seccion2 {
    width: 30.66%;
    display: flex;
    align-items: center;
}

.caja-resultado {
    background: white;
    width: 90%;
    height: 84vh;
    border-radius: 3em;
}

.contenedor-resultado {
    margin: 10% 10% 0 10%;
    height: 90%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.texto-resultado {
    color:#495057;
    font-size: 22px;
}

.copiar {
    border-style: solid;
    border-radius: 24px;
    border-color: #0A3871;
    background: white;
    color: #0A3871;
    font-size: 18px;
    font-weight: 600;
    width: 82.55%;
    height: 4rem;
    align-self: center;
    transition: 0.3s;
    cursor: pointer;
}

.copiar:hover {
    font-size: 19px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5)
}

.caja-preresultado {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caja-preresultado img {
    width: 50%;
    margin: 0 0 3em 0;
}

.texto-preresultado h2 {
    color: #343A40;
    text-align: center;
    font-weight: bold;
    margin: 0 0 0.5em 0;
    padding: 0 10%;
}

.texto-preresultado p {
    color: #495057;
    font-size: 16px;
    text-align: center;
    padding: 0 10%;
}

/*Footer*/

footer {
    background: #0A3871;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

footer h3 {
    margin: 0.5%;
    font-size: 20px;
}

footer p {
    font-weight: 600;
    font-size: 20px;
}

footer div {
    width: 10%;
    display: flex;
    justify-content: space-between;
    margin: 0.5% 0 0.3% 0;
}

footer a {
    color: white;
    font-weight: 500;
    font-size: 18px;
    transition: 0.3s;
}

footer a:hover {
    font-weight: bold;
}